<ion-list>
    <ng-container *ngIf="!movies || movies.length == 0">
        <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
                <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
        </div>
    </ng-container>

    <ion-item-sliding *ngFor="let movie of movies">
        <ion-item button [routerLink]="['/tabs/details', movie.id]" lines="inset">
            <ion-label>
                {{movie.name}} Details
                <div><span>id: </span>{{movie.id}}</div>
                <div><span>name: </span>{{movie.name}}</div>
                <div><span>imdb: </span>{{movie.imdb}}</div>
            </ion-label>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="remove(movie)" color="danger">
                Delete
                <ion-icon name="checkmark" slot="end"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/details" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>